<h2>
  Continente activo <small>{{ activeContinent | titlecase }}</small>
</h2>
<hr />
<!-- 1. -->
<!-- [class.btn-primary]="continent === activeContinent" -->
<!-- 2. -->
<!-- class="btn btn-outline-primary m-1"
  [ngClass]="{
    'btn-outline-primary': continent !== activeContinent,
    'btn-primary': continent === activeContinent
  }" -->
<button
  *ngFor="let continent of continents"
  class="btn btn-outline-primary m-1"
  (click)="updateActiveContinent(continent)"
>
  {{ continent | titlecase }}
</button>
