<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Capital</h2>
  <hr />
  <app-country-input
    (onEnter)="searchCountry($event)"
    (onDebounce)="getSuggestions($event)"
    placeholder="Buscar país por capital..."
  >
  </app-country-input>
  <app-country-input-suggestions
    *ngIf="showSuggestions"
    [currentSearch]="currentSearch"
    [countries]="countriesToSuggest"
    (onSearchCurrent)="searchCountry($event)"
  ></app-country-input-suggestions>
  <hr />
  <div *ngIf="hasError" class="alert alert-danger">
    No sé encontró nada con el término "{{ currentSearch }}"
  </div>
  <app-country-table [countries]="countries"></app-country-table>
</div>
